@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* イトヲカシ・ベージュ */
    background-color: #FEF8F0;
    
    /* 3px間隔の極細ラインを重ねて「布の繊維」を表現 */
    background-image: 
        linear-gradient(90deg, rgba(224, 212, 192, 0.2) 1px, transparent 1px),
        linear-gradient(rgba(224, 212, 192, 0.2) 1px, transparent 1px);
    background-size: 3px 3px;
    
    background-repeat: repeat;
}